* {
  --clr-bckgrnd: #576366;

  --clr-main-lt: rgb(164, 231, 184);
  --clr-main-drk: rgb(91, 192, 121);

  --clr-secondary: rgb(255, 174, 194);

  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

body {
  background-color: var(--clr-main-lt);
}

.main-container {
  width: 95%;
  height: 80vh;
  max-width: 500px;
  flex-direction: column;
  margin: 2rem auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--clr-bckgrnd);
}

.mike-img {
  max-width: 250px;
  margin: .5rem auto;
}

.name {
  font-weight: bold;
  margin: .5rem 0;
}

.mike {
  color: var(--clr-secondary);
}

.user {
  color: var(--clr-main-lt);
}

.chat-container {
  width: 90%;
  height: 50%;
  margin: .5rem auto;
}

.response-text,
.user-text {
  padding: .5rem;
  overflow-y: auto;
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.response-text {
  height: 2.5rem;
}

.user-text {
  min-height: 2.5rem;
  max-height: 115px;
}

form.flex {
  flex-direction: column;
  align-items: center;
  margin-block: auto;
}

.text-input {
  width: 90%;
  height: 2.5rem;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: 5px;
  transition: background-color .4s ease;
}

.text-input:focus {
  background: var(--clr-secondary);
}

button {
  cursor: pointer;
  width: 75%;
  height: 2rem;
  margin-bottom: .5rem;
  border-radius: 5px;
  background-color: var(--clr-main-lt);
  transition: background-color .4s ease;
}

button:hover {
  background-color: var(--clr-main-drk);
}

@media (min-width: 450px) {
  button,
  .text-input {
    font-size: 1.25rem;
  }

  .name {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 75%;
  }
}
